body {
    margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.progress–°ontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    vertical-align: middle;
    gap: 90px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;

}

.progressBar {
    width: 120px;
    height: 120px;

}

.progressBar__cercle, .progressBar__cercleBack {

    stroke-width: 12px;
    fill: transparent;

}

.progressBar__cercle {

    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dasharray 0.3s transform ease-in-out 3.6s;
    stroke-dasharray: 0 0;
}

.progressBar__cercleBack {
    stroke: #D7E0EC;
}

.control {
    display: flex;

    flex-direction: column;
    gap: 12px;
}

label {
    display: inline-block;
    vertical-align: middle;
}

.number__input {
    width: 43px;
    height: 26px;
    border-radius: 40px;
    padding: 0;
    border: solid 2px #343434;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-right: 12px;
}

.checkbox_input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    appearance: 0;
    display: inline-block;

}

.checkbox_inner {
    display: inline-block;
    position: relative;
    padding-left: 65px;
    line-height: 1.9;
    height: 30px;

}

.checkbox_inner::before {
    display: block;
    content: "";
    position: absolute;
    width: 47px;
    height: 30px;
    border-radius: 40px;
    background-color: #D7E0EC;
    top: 0;
    left: 0;
    transition: background-color 0.3s;

}

.checkbox_inner::after {
    display: block;
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 15px;
    left: 3px;
    top: 3px;
}

.checkbox_input:checked+.checkbox_inner::before {
    background-color: #000eff;
}

.checkbox_input:checked+.checkbox_inner::after {
    left: 20px;
}

@media(orientation:landscape) {
    .progressContainer {
        flex-direction: row;
    }
}